/* Democratica Layout Styles */

* {
  zoom: 1; /* IE peekaboo fix */
}
body {
  margin: 0;
  padding: 0;
  background: url(images/bg.png) repeat;
}
/**

I'm using a mix of Dan Cederholm's Faux Columns for the background image
from http://www.alistapart.com/articles/fauxcolumns/ and Ryan Brill's
"Creating Liquid Layouts with Negative Margins" for the 3-column 
layout from http://www.alistapart.com/articles/negativemargins/

**/
#outer-wrapper {
  width: 94%;
  _width: expression( ( documentElement.clientWidth < 760 ) ? "760px" : "auto" ); /* IE min-width hack */
  min-width: 760px;
  max-width:1200px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
#wrapper {
  padding-top: 9px;
  _padding-top: 0;
  background: url(images/bg_footer.png) repeat-x top left;

}
#container {
  width: 100%;
  float: left;
  background-color: #fff;
}
#content {
  padding: 10px 0;
}  
#sidebar-left {
  margin-right: -1px;
  border-right: 1px solid #bababa;
}
#notices {
  margin: 0;
  clear: left;
  padding: 14px 10px;
  background: url(images/bg_footer.png) repeat-x top left;
}
/*<group=Left Column Only Styles>*/
body.layout-left #sidebar-right {
  display: none;
}
body.layout-left #content {
  margin-right: 1.0em;
}
#sidebar-left {
  background: url(images/bg_left.png) left repeat-y; /* needed for sidebar-left bg color */
  padding: 0;
/*  padding-right: 7px; */
}

/*</group>*/
/*<group=Right Column Only Styles>*/

/**

Right Column Only Layout
       
**/
body.layout-right #sidebar-left {
  display: none;
}
body.layout-right #content {
  margin-left: 1.0em;
}

/*</group>*/
/*<group=Shared Layout Styles>*/
/*<group=Right Styles>*/
body.layout-both #content, body.layout-right #content {
  margin-right: 280px; /* This must match container margin-right */
}
body.layout-both #container, body.layout-right #container {
  margin-right: -280px;  /* This must match content's margin-right */
  background: #fff url(images/bg_right.png) top right repeat-y;
}
body.layout-both #sidebar-right, body.layout-right #sidebar-right {
  float: right;
  width: 270px; /* This must be less than content's margin-right */
}
body.layout-right #navigation {
  margin-left: 1.5em;
  margin-bottom: 1.0em;
}

/*</group>*/
/*<group=Left Styles>*/
body.layout-both #content, body.layout-left #content {
  background: url(images/bg_left.png) left repeat-y; /* needed for sidebar-left bg color */
}
body.layout-both #main-content, body.layout-left #main-content {
  margin-left: 170px;
}
body.layout-both #sidebar-left, body.layout-left #sidebar-left {
  display: block;
  width: 150px;
  float: left;
  padding-left: 6px;
}
body.layout-left #outer-wrapper, body.layout-right #outer-wrapper {
  width: 80%;
}

/*</group>*/

/*</group>*/

/*<group=Utility>*/
.hide {
  display: none;
}
br.clear {
  clear: both;
}
.clearing {
  height: 0;
  clear: both;
  font-size: 0;
}
     /*</group>*/  