/*<group=Local Task Tabs>*/
#local-tasks {
	position: relative;
	margin-bottom: 4em;
	height: 2em;
/*
	width: 45em; 
	_width: 30em;
	width: 100%;*/
}
#local-tasks ul.primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
/*
	width: 45em; 
	_width: 30em;*/
}
#local-tasks ul.primary li  {
	display: inline;
	list-style: none;
}
#local-tasks ul.primary a, #local-tasks ul.primary span, #local-tasks ul.primary li a.current {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
}
#local-tasks ul.primary span, #local-tasks ul.primary li a.current, #local-tasks ul.primary li a.current:hover {
  border-color: #bbb;
  border-width: 1px;
  border-style: solid solid none solid;
  -moz-border-radius-topleft: 0.3em;
  -moz-border-radius-topright: 0.3em;
	border-bottom: none;
	background: #FFF3B3;
	padding-bottom: 6px;
	margin-top: 0;
}
#local-tasks ul.primary a {
	background: #FFFAE1;
  -moz-border-radius-topleft: 0.3em;
  -moz-border-radius-topright: 0.3em;
	border: 1px solid #AAA;
	border-bottom: none;
}
#local-tasks ul.primary a:hover {
	margin-top: 0;
	border-color: #aaa;
	background: #FFF7CD;
	padding-bottom: 5px;
}
#local-tasks ul.secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -4em;
	left: 1px;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	_width: 30em;
}
#local-tasks ul.secondary li a, #local-tasks ul.secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 4px 10px;
	margin: 0;
	text-align: auto;
	border: none;
	border-right: 1px dotted #AAA;
	background: none;
}
#local-tasks ul.secondary li a {
	color: #06C;
	text-decoration: underline;
}
#local-tasks ul.secondary li a:hover {
	color: #333;
	background: transparent;
	padding: 4px 10px;
	border: none;
	border-right: 1px dotted #AAA;
}
#local-tasks ul.secondary li a:active {
	color: #000;
	background: transparent;
}
#local-tasks ul.secondary li:last-child a {
  border: none; 
}

/*</group>*/